language: python
sudo: false
cache:
- pip
python:
- '3.6'
env:
  global:
  - secure: eO08tZokK+Etpp4ISvxVaWHe5tN6PC/SzLHcltqgvqRYa7L9zY5NKQjiY5LvUw1onnbbSPMnTabFWrcw3VtoQ1he5M2NbqqTSLTxT9dSWXhy6KRymNXVkEv4Ar6WWiQDUPlyMY7XTG35G5jo6C3LBer5FRKDpEAPlw51z4TyML0=
  matrix:
  - DJANGO="https://github.com/django/django/archive/stable/2.0.x.tar.gz#egg=django"
  - DJANGO="https://github.com/django/django/archive/stable/1.11.x.tar.gz#egg=django"
  - DJANGO="https://github.com/django/django/archive/master.tar.gz#egg=django"
matrix:
  allow_failures:
  - env: DJANGO="https://github.com/django/django/archive/master.tar.gz#egg=django"
install:
- pip install -U codecov
- pip install -r requirements-dev.txt
- pip install $DJANGO
script:
- isort --check-only --recursive --diff .
- coverage run --source=closeio -m 'pytest'
after_success:
- codecov
deploy:
  provider: pypi
  user: codingjoe
  password:
    secure: EbCAfnLxHzVgyPe/4f1w5wbgBMrEjiPw/olfaDS0kIJjNFuAuWGiqyVQaSPgLsBteD9dYUuU/O95eVy1W5tYFySTc8FEXXXI7YBTMHZN+aFQzFoBcvE6g5npvPAdUU0W53g+13wiAUI9tMFTnOf0rG585qmzMEu0NY6R2dEOtTo=
  on:
    skip_existing: true
    tags: true
    distributions: sdist bdist_wheel
    repo: Thermondo/closeio
